<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xiaoxingbomei.dao.localhost.TestLocalDataBaseDao" >



    <select id="testSelect" resultType="map" >
        SELECT *
        FROM t_data_org
    </select>


</mapper>