<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xiaoxingbomei.dao.localhost.UserMapper" >



    <resultMap id="UserResultMap" type="org.xiaoxingbomei.vo.User">
        <result property="name"          column="name"/>
        <result property="gender"        column="gender"/>
        <result property="idCard"        column="idCard"/>
        <result property="phoneNumber"   column="phoneNumber"/>
        <result property="mobileNumber"  column="mobileNumber"/>
        <result property="address"       column="address"/>
        <result property="nationality"   column="nationality"/>
        <result property="country"       column="country"/>
        <result property="state"         column="state"/>
        <result property="city"          column="city"/>
        <result property="bankCard"      column="bankCard"/>
        <result property="occupation"    column="occupation"/>
        <result property="companyName"   column="companyName"/>
        <result property="maritalStatus" column="maritalStatus"/>
        <result property="userType"      column="userType"/>
        <result property="createTime"    column="createTime"/>
        <result property="updateTime"    column="updateTime"/>
        <result property="status"        column="status"/>
    </resultMap>

    <select id="getAllUserInfo" resultMap="UserResultMap">
        SELECT *
        FROM user
    </select>


</mapper>